---
layout: default
---

{% for topic in site.topics %}
<h3><a href="{{ site.baseurl }}/topic/{{ topic }}.html">{{ topic }}</a></h3>
<hr noshade width="200" />
<div class="topic">
  <ul class="post-list">
    {% assign topicPosts = site.categories[topic].size %} {% for post in
    site.categories[topic] %} {% if forloop.index == 4 %} {% if topicPosts > 4
    %}
    <a class="seeMore" href="{{ site.baseurl }}/topic/{{ topic }}.html">
      <p>More ></p></a
    >
    {% break %} {% endif %} {% endif %}
    <li class="post-preview">
      {% include postpreview.html %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %} ***
